/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;

  /* change global font */
  font-family: "Roboto", "Helvetica Neue", Helvetica, sans-serif;
}
nav, h1, h2, h3, h4 {
  font-weight: 300;
}

.list-group-item {
  /* prevent long words from going off page */
  word-wrap: break-word;
}

a, a:hover {
  color: steelblue;
}

.login-form {
  max-width: 300px;
  /* center form */
  /*margin: 0 auto;*/
}

#main {
  padding: 40px 15px;
  /*text-align: center; */
}

#main .form-control
{
  /* center form controls */
  display: inline-block;
  /* override Bootstrap's 100% width for form controls */
}