/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
}

#main {
  padding: 40px 15px;
    /*text-align: center; */
}

#main .form-control
{
    /* center form controls */
    display: inline-block;
    /* override Bootstrap's 100% width for form controls */
    width: auto;
}
